In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import VarianceThreshold

In [2]:
categorical = pd.read_csv('files_for_lab/categorical.csv')
numerical = pd.read_csv('files_for_lab/numerical.csv')
target = pd.read_csv('files_for_lab/target.csv')

In [3]:
categorical.shape

(95412, 22)

In [4]:
numerical.shape

(95412, 315)

In [5]:
#Features automated selection - numericals

transformer = MinMaxScaler()
transformer.fit(numerical)

num_scaled = transformer.transform(numerical)
numerical_scaled = pd.DataFrame(num_scaled, columns = numerical.columns)
numerical_scaled

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0.000000,0.608247,0.666667,1.000000,0.000000,0.000000,0.393939,0.343434,0.181818,0.101010,...,0.341463,0.005,0.001401,0.010,0.003676,0.006465,0.498045,0.0,1.000000,0.622951
1,0.000014,0.463918,0.833333,1.000000,0.066390,0.000000,0.151515,0.555556,0.111111,0.060606,...,0.024390,0.010,0.004004,0.025,0.016544,0.014399,0.774510,0.0,0.333333,0.000000
2,0.000014,0.624862,0.333333,0.111111,0.008299,0.000000,0.202020,0.292929,0.333333,0.060606,...,0.341463,0.002,0.002202,0.005,0.011029,0.006204,0.078617,1.0,1.000000,0.967213
3,0.000000,0.711340,0.000000,0.444444,0.008299,0.000000,0.232323,0.141414,0.313131,0.030303,...,0.170732,0.002,0.001201,0.010,0.008272,0.005534,0.899764,1.0,1.000000,0.655738
4,0.000000,0.793814,0.333333,0.222222,0.248963,0.010101,0.282828,0.090909,0.535354,0.262626,...,0.195122,0.003,0.002002,0.015,0.012868,0.005586,0.037079,1.0,0.333333,0.409836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0.000014,0.624862,0.666667,1.000000,0.000000,0.141414,0.363636,0.474747,0.111111,0.070707,...,0.000000,0.025,0.004004,0.025,0.008272,0.023745,0.962399,0.0,0.000000,0.180328
95408,0.000014,0.484536,1.000000,1.000000,0.004149,0.000000,0.313131,0.434343,0.191919,0.040404,...,0.000000,0.020,0.003003,0.020,0.008272,0.018738,0.639828,1.0,0.000000,0.016393
95409,0.000014,0.608247,0.666667,1.000000,0.000000,0.000000,0.181818,0.464646,0.202020,0.070707,...,0.097561,0.003,0.001001,0.010,0.002757,0.007009,0.988852,1.0,0.666667,0.540984
95410,0.000000,0.587629,1.000000,1.000000,0.000000,0.000000,0.282828,0.353535,0.202020,0.090909,...,0.439024,0.005,0.003203,0.018,0.003676,0.010875,0.024466,1.0,1.000000,0.163934
95411,0.000028,0.814433,0.666667,0.888889,0.012448,0.010101,0.333333,0.222222,0.272727,0.080808,...,0.268293,0.010,0.039239,0.100,0.005515,0.095632,0.965246,1.0,0.000000,0.180328

In [6]:
var_threshold = 0.02

sel = VarianceThreshold(threshold=(var_threshold))

sel = sel.fit(numerical_scaled)
temp = sel.transform(numerical_scaled)
temp = pd.DataFrame(data = temp, columns = list(sel.get_feature_names_out()))

print(temp.shape)

(95412, 79)

In [7]:
temp

,AGE,INCOME,WEALTH1,VIETVETS,WWIIVETS,WEALTH2,POP90C1,POP90C2,POP90C3,ETH1,...,HC17,HC18,HC19,MHUC1,MHUC2,CARDPROM,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0.608247,0.666667,1.000000,0.343434,0.181818,0.555556,0.000000,0.353535,0.656566,0.929293,...,0.333333,0.656566,0.404040,0.285714,0.4,0.433333,0.498045,0.0,1.000000,0.622951
1,0.463918,0.833333,1.000000,0.555556,0.111111,1.000000,1.000000,0.000000,0.000000,0.676768,...,1.000000,0.000000,1.000000,0.952381,0.8,0.183333,0.774510,0.0,0.333333,0.000000
2,0.624862,0.333333,0.111111,0.292929,0.333333,0.111111,0.000000,0.020202,0.989899,0.969697,...,0.222222,0.777778,0.171717,0.428571,0.4,0.416667,0.078617,1.0,1.000000,0.967213
3,0.711340,0.000000,0.444444,0.141414,0.313131,0.000000,0.000000,0.080808,0.929293,0.616162,...,0.232323,0.777778,0.222222,0.761905,0.4,0.433333,0.899764,1.0,1.000000,0.655738
4,0.793814,0.333333,0.222222,0.090909,0.535354,1.000000,1.000000,0.000000,0.000000,0.020202,...,1.000000,0.010101,0.212121,0.285714,0.4,0.700000,0.037079,1.0,0.333333,0.409836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0.624862,0.666667,1.000000,0.474747,0.111111,1.000000,1.000000,0.000000,0.000000,0.787879,...,0.939394,0.070707,0.989899,0.761905,0.8,0.083333,0.962399,0.0,0.000000,0.180328
95408,0.484536,1.000000,1.000000,0.434343,0.191919,1.000000,0.969697,0.000000,0.040404,0.919192,...,0.696970,0.313131,0.676768,0.857143,1.0,0.050000,0.639828,1.0,0.000000,0.016393
95409,0.608247,0.666667,1.000000,0.464646,0.202020,1.000000,1.000000,0.000000,0.000000,0.828283,...,1.000000,0.000000,1.000000,0.238095,0.4,0.216667,0.988852,1.0,0.666667,0.540984
95410,0.587629,1.000000,1.000000,0.353535,0.202020,0.777778,1.000000,0.000000,0.000000,0.929293,...,1.000000,0.000000,1.000000,0.571429,0.6,0.583333,0.024466,1.0,1.000000,0.163934
95411,0.814433,0.666667,0.888889,0.222222,0.272727,0.888889,1.000000,0.000000,0.000000,0.868687,...,0.949495,0.060606,0.898990,0.380952,0.6,0.516667,0.965246,1.0,0.000000,0.180328

In [8]:
cols = list(categorical.columns)

for cols in categorical:
    print(categorical[cols].value_counts())

other    30457
CA       17343
FL        8376
TX        7535
IL        6420
MI        5654
NC        4160
WA        3577
GA        3403
IN        2980
WI        2795
MO        2712
Name: STATE, dtype: int64
40    6295
35    3624
36    3617
27    3553
24    3539
49    3315
12    3000
18    2897
13    2706
30    2607
39    2601
45    2515
43    2385
11    2378
51    2322
14    2246
41    2176
44    1953
16    1947
2     1942
21    1891
8     1828
10    1804
46    1800
28    1630
17    1621
20    1568
53    1441
3     1428
34    1358
42    1358
23    1324
31    1285
22    1282
25    1275
38    1200
15    1173
1     1140
7     1076
5     1014
37     972
26     947
47     868
29     859
32     795
48     787
50     776
9      770
6      603
33     593
4      561
19     497
52     270
Name: CLUSTER, dtype: int64
H    74582
U    20830
Name: HOMEOWNR, dtype: int64
F        54234
M        39094
other     2084
Name: GENDER, dtype: int64
3    64829
2    23455
1     7128
Name: DATASRCE, dtype: int64
L    95412
Name: RFA_2R, dtype: int64
F    46964
E    21639
G    19397
D     7412
Name: RFA_2A, dtype: int64
A    34803
B    28505
D    16580
C    15524
Name: GEOCODE2, dtype: int64
R    22106
S    21924
C    19689
T    19527
U    12166
Name: DOMAIN_A, dtype: int64
2    48356
1    28498
3    16754
4     1804
Name: DOMAIN_B, dtype: int64
95    15369
86    14601
94    12069
96    10122
91     8557
90     7724
92     7549
88     6671
89     5347
93     3929
87     3455
97       15
85        2
84        1
83        1
Name: ODATEW_YR, dtype: int64
1     95351
9        16
10       12
12        9
2         7
11        5
4         3
6         3
3         3
8         1
5         1
7         1
Name: ODATEW_MM, dtype: int64
0     23661
20     1942
30     1923
48     1912
50     1890
      ...
7         1
89        1
9         1
85        1
83        1
Name: DOB_YR, Length: 96, dtype: int64
1     45519
2     26365
9      2544
7      2507
8      2490
6      2361
3      2359
12     2349
5      2313
10     2262
11     2177
4      2166
Name: DOB_MM, dtype: int64
95    19577
94    13689
93    10402
92    10304
91     8702
96     8701
90     7196
88     5834
89     5772
87     3944
86      896
97      376
84        6
78        3
85        3
82        2
83        2
77        1
80        1
75        1
Name: MINRDATE_YR, dtype: int64
1     13394
2     11241
10    10950
9     10035
12     9678
11     8743
3      7837
4      5777
6      5691
7      5330
5      4142
8      2594
Name: MINRDATE_MM, dtype: int64
95    47650
96    16457
94    13479
93     5669
92     4440
91     2750
90     1977
89     1133
88      965
87      487
86      238
97      147
84        7
85        7
83        3
75        1
79        1
82        1
Name: MAXRDATE_YR, dtype: int64
12    18692
1     11083
9      9433
2      9017
11     8036
4      7895
10     7304
3      6489
6      5940
7      4387
5      4017
8      3119
Name: MAXRDATE_MM, dtype: int64
95    57452
96    36387
97     1573
Name: LASTDATE_YR, dtype: int64
12    20663
1     12734
2     11943
3     10989
11     8670
9      6705
10     5815
6      4589
4      4576
7      3095
8      2992
5      2641
Name: LASTDATE_MM, dtype: int64
95    14088
94    12756
93     9543
86     8997
91     8617
88     8159
90     7658
87     7562
92     7459
89     5224
96     5224
85       41
84       23
83       15
82       10
81       10
80        5
78        5
74        4
77        3
79        2
75        2
0         2
72        1
76        1
49        1
Name: FIRSTDATE_YR, dtype: int64
1     18177
9     15196
10    14540
2     12839
3      6813
11     6572
12     5981
4      4267
6      3356
8      3008
7      2846
5      1817
Name: FIRSTDATE_MM, dtype: int64

In [9]:
### we have to drop some categorical columns because when we use OneHot Encoder
    #we are getting to much columns(315)

#Columns to drop since they have to much values to encode
    #CLUSTER
    #DOMAIN_B
    #ODATEW_YR
    #ODATEW_MM
    #DOB_YR
    #DOB_MM
    #MINRDATE_YR
    #MINRDATE_MM
    #MAXRDATE_YR
    #LASTDATE_YR
    #LASTDATE_MM
    #FIRSTDATE_YR
    #FIRSTDATE_MM

cat_to_drop = ['CLUSTER','DOMAIN_B','ODATEW_YR','ODATEW_MM','DOB_YR','DOB_MM','MINRDATE_YR',\
 'MINRDATE_MM','MAXRDATE_YR','LASTDATE_YR','LASTDATE_MM','FIRSTDATE_YR','FIRSTDATE_MM']

len(cat_to_drop)

categorical.drop(columns = cat_to_drop, inplace=True)

categorical.shape

(95412, 9)

In [10]:
df = pd.concat([temp,categorical,target],axis = 1)
df

,AGE,INCOME,WEALTH1,VIETVETS,WWIIVETS,WEALTH2,POP90C1,POP90C2,POP90C3,ETH1,...,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,MAXRDATE_MM,TARGET_B,TARGET_D
0,0.608247,0.666667,1.000000,0.343434,0.181818,0.555556,0.000000,0.353535,0.656566,0.929293,...,H,F,3,L,E,C,T,2,0,0.0
1,0.463918,0.833333,1.000000,0.555556,0.111111,1.000000,1.000000,0.000000,0.000000,0.676768,...,H,M,3,L,G,A,S,12,0,0.0
2,0.624862,0.333333,0.111111,0.292929,0.333333,0.111111,0.000000,0.020202,0.989899,0.969697,...,U,M,3,L,E,C,R,7,0,0.0
3,0.711340,0.000000,0.444444,0.141414,0.313131,0.000000,0.000000,0.080808,0.929293,0.616162,...,U,F,3,L,E,C,R,11,0,0.0
4,0.793814,0.333333,0.222222,0.090909,0.535354,1.000000,1.000000,0.000000,0.000000,0.020202,...,H,F,3,L,F,A,S,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0.624862,0.666667,1.000000,0.474747,0.111111,1.000000,1.000000,0.000000,0.000000,0.787879,...,H,M,3,L,G,C,C,2,0,0.0
95408,0.484536,1.000000,1.000000,0.434343,0.191919,1.000000,0.969697,0.000000,0.040404,0.919192,...,H,M,3,L,F,A,C,3,0,0.0
95409,0.608247,0.666667,1.000000,0.464646,0.202020,1.000000,1.000000,0.000000,0.000000,0.828283,...,H,M,3,L,E,B,C,1,0,0.0
95410,0.587629,1.000000,1.000000,0.353535,0.202020,0.777778,1.000000,0.000000,0.000000,0.929293,...,H,F,2,L,F,A,C,8,1,18.0
95411,0.814433,0.666667,0.888889,0.222222,0.272727,0.888889,1.000000,0.000000,0.000000,0.868687,...,U,F,3,L,G,C,C,12,0,0.0

In [11]:
# Train/test split
X=df.drop(['TARGET_B','TARGET_D'], axis = 1)
y = df['TARGET_B']

X_train, X_test, y_train, y_test  = train_test_split (X,y, test_size = 0.30, random_state = 19 )

In [12]:
#Getting X_train numeric;X_test numeric

X_train_num = X_train.select_dtypes([np.number])
X_test_num = X_test.select_dtypes([np.number])

X_train_cols = list(X_train_num.columns)
len(X_train_cols)
numerical_cols = list(temp.columns)
len(numerical_cols)

cols_not_in_numericals = list(set(X_train_cols)-set(numerical_cols))
cols_not_in_numericals #--> this columns belongs to categorical dataframe, and we will keep it like that

#X_train_num.drop(cols_not_in_numericals, axis = 1, inplace=True)

['MAXRDATE_MM', 'DATASRCE']

In [13]:
X_train_num.shape

(66788, 81)

In [14]:
77+37

114

In [15]:
#Getting X_train categorical; X_test categorical

X_train_cat = X_train.select_dtypes(['object'])
X_test_cat = X_test.select_dtypes(['object'])

In [16]:
X_train_cat.shape

(66788, 7)

In [17]:
# the categorical in the X train set are not exactly exact the same columns as as the ones in the categorical df so is need to fix this 

series_list = []

for i in range(len(cols_not_in_numericals)):
    X_train_num[cols_not_in_numericals[i]]
    series_list.append(X_train_num[cols_not_in_numericals[i]])

len(series_list)

cat_to_append = pd.concat(series_list, axis = 1)
cat_to_append

X_train_cat = pd.concat([X_train_cat,cat_to_append], axis = 1)

X_train_cat.shape
X_train_num.shape

(66788, 81)

In [18]:
#exact the same process for the X test set

series_list2 = []

for i in range(len(cols_not_in_numericals)):
    X_test_num[cols_not_in_numericals[i]]
    series_list2.append(X_test_num[cols_not_in_numericals[i]])

len(series_list)

cat_to_append2 = pd.concat(series_list2, axis = 1)
cat_to_append2

X_test_cat = pd.concat([X_test_cat,cat_to_append2], axis = 1)
X_test_cat.shape
X_test_num.shape

(28624, 81)

In [19]:
#Encoding categoricals

encoder = OneHotEncoder(drop = 'first')
X_train_cat_enc = encoder.fit_transform(X_train_cat).toarray()
X_train_cat_enc = pd.DataFrame(X_train_cat_enc, columns = encoder.get_feature_names_out())
X_train_cat_enc

X_test_cat_enc = encoder.fit_transform(X_test_cat).toarray()
X_test_cat_enc = pd.DataFrame(X_test_cat_enc, columns = encoder.get_feature_names_out())
X_test_cat_enc.shape
X_train_cat_enc.shape

(66788, 37)

In [20]:
X_train_num.shape

(66788, 81)

In [21]:
X_train_num.drop(cols_not_in_numericals, axis = 1, inplace=True)
X_test_num.drop(cols_not_in_numericals, axis = 1, inplace=True)

In [24]:
X_train_num.shape

X_train_num

,AGE,INCOME,WEALTH1,VIETVETS,WWIIVETS,WEALTH2,POP90C1,POP90C2,POP90C3,ETH1,...,HC17,HC18,HC19,MHUC1,MHUC2,CARDPROM,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
76771,0.624862,0.833333,1.000000,0.414141,0.262626,0.555556,0.222222,0.0,0.787879,0.969697,...,0.979798,0.030303,0.505051,0.428571,0.4,0.533333,0.025681,1.0,0.000000,0.704918
65543,0.624862,0.666667,1.000000,0.121212,0.101010,1.000000,0.515152,0.0,0.494949,0.919192,...,0.696970,0.313131,0.424242,0.380952,0.6,0.250000,0.214420,0.0,1.000000,0.262295
30360,0.624862,0.666667,1.000000,0.323232,0.404040,1.000000,1.000000,0.0,0.000000,0.545455,...,1.000000,0.000000,1.000000,0.380952,0.0,0.100000,0.924632,0.0,1.000000,0.540984
16715,0.624862,0.666667,1.000000,0.000000,0.000000,0.888889,0.606061,0.0,0.404040,0.898990,...,0.959596,0.050505,0.282828,0.428571,0.8,0.416667,0.654314,0.0,0.000000,0.180328
23431,0.453608,0.666667,0.777778,0.222222,0.313131,0.777778,1.000000,0.0,0.000000,0.989899,...,1.000000,0.000000,1.000000,0.380952,0.6,0.433333,0.477886,1.0,0.000000,0.065574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39220,0.624862,0.666667,1.000000,0.303030,0.393939,0.111111,0.000000,0.0,1.000000,0.898990,...,0.050505,0.818182,0.000000,0.285714,0.4,0.233333,0.953472,1.0,0.333333,0.901639
33811,0.711340,0.500000,1.000000,0.494949,0.232323,1.000000,1.000000,0.0,0.000000,0.979798,...,1.000000,0.000000,1.000000,0.380952,0.4,0.216667,0.585036,1.0,0.000000,0.163934
86952,0.690722,0.166667,0.111111,0.262626,0.383838,1.000000,1.000000,0.0,0.000000,0.949495,...,1.000000,0.010101,0.989899,0.238095,0.4,0.250000,0.512874,1.0,1.000000,0.803279
82677,0.670103,0.666667,1.000000,0.444444,0.161616,1.000000,0.000000,0.0,1.000000,0.979798,...,0.989899,0.020202,0.040404,0.285714,0.4,0.166667,0.570211,1.0,0.000000,0.655738
76398,0.948454,0.000000,0.222222,0.161616,0.161616,0.222222,1.000000,0.0,0.000000,0.717172,...,1.000000,0.000000,1.000000,0.428571,0.4,0.333333,0.781821,1.0,0.333333,0.491803

In [28]:
#Concat numericals_scaled and categoricals_encoded

X_train_num.reset_index(drop=True, inplace=True)
X_train_cat_enc.reset_index(drop=True, inplace=True)

X_test_num.reset_index(drop=True, inplace=True)
X_test_cat_enc.reset_index(drop=True, inplace=True)

X_train_new = pd.concat([X_train_num, X_train_cat_enc], axis=1)
X_train_new

X_test_new = pd.concat([X_test_num, X_test_cat_enc], axis=1)
X_test_new

X_train_new.shape

(66788, 116)

In [32]:
from imblearn.over_sampling import RandomOverSampler

#ros = RandomOverSampler(random_state=42)

#X_res, y_res = ros.fit_resample(X_train_new, y_train)

#X_res.shape here we are resampling all the x train but i only want the target imbalace feature

X_res, y_res = ros.fit_resample(X_train_new, y_train)

In [33]:
#Searching for the best parameters for Random Forest

max_depth_choices = [3,10,None] # A list of the possible values of max_depth to try
criterion_choices = ['gini','entropy'] # A list of the possible values optimization metrics
min_samples_split_choices = [2,10] # A list of the possible values of min_samples_split to try
min_samples_leaf_choices = [2,10] # A list of the possible values of min_samples_leaf to try   

grid = {'max_depth': max_depth_choices,
        'criterion': criterion_choices,
        'min_samples_split': min_samples_split_choices,
        'min_samples_leaf': min_samples_leaf_choices}

model = RandomForestClassifier()
grid_search = GridSearchCV(estimator = model, param_grid = grid, cv = 5)

grid_search.fit(X_res, y_res)
#print("The best R2 for the best hyperparameters is {:.2f}".format(grid_search.best_score_))

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [3, 10, None],
                         'min_samples_leaf': [2, 10],
                         'min_samples_split': [2, 10]})

In [51]:
X_res.shape

(126824, 116)

In [52]:
X_train.shape

(66788, 88)

In [56]:
y_res.shape

(126824,)

In [53]:
126824/66788

1.898903994729592

In [59]:
#Random forest

clf = RandomForestClassifier(max_depth=5,
                             min_samples_split=2,
                             min_samples_leaf =2,
                             max_samples=0.8,
                             random_state = 42)
clf.fit(X_res, y_res)

#print("The Accuracy for the Random Forest in the TRAIN set is {:.2f}".format(clf.score(X_res, y_res)))
#print("The Accuracy for the Random Forest in the TEST  set is {:.2f}".format(clf.score(X_test, y_test)))

#display(confusion_matrix(y_test, y_pred))

RandomForestClassifier(max_depth=5, max_samples=0.8, min_samples_leaf=2,
                       random_state=42)

In [60]:
print("The Accuracy for the Random Forest in the TRAIN set is {:.2f}".format(clf.score(X_res, y_res)))
#print("The Accuracy for the Random Forest in the TEST  set is {:.2f}".format(clf.score(X_test, y_test)))

The Accuracy for the Random Forest in the TRAIN set is 0.62

In [66]:
print("The Accuracy for the Random Forest in the TEST  set is {:.2f}".format(clf.score(X_test_new, y_test)))

The Accuracy for the Random Forest in the TEST  set is 0.60

In [68]:
y_pred = clf.predict(X_test_new)

display(confusion_matrix(y_test, y_pred))

array([[16253, 10904],
       [  645,   822]], dtype=int64)